DirectoryIndex index.php
<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteRule  ^$ public/    [L]

    # No permite reescritura si el archivo o directorio existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule  (.*) public/$1 [L]
</IfModule>